extends layout

block content
    form(action="/new" method="post")
        textarea(maxlength="100" name="messageText")
        input(type="text" maxlength="25" name="messageUser")
        button(type="submit") Post